<ul>
	<li ng-class=" footer_active=='mall' ? 'mall active' : 'mall'" ng-click="link('/index.html')">商城</li>
	<li ng-class=" footer_active=='category' ? 'category active' : 'category'" class="x" ng-click="link('/goods/fenlei.html')">分类</li>
	<li ng-class=" footer_active=='cart' ? 'cart active' : 'cart'" ng-click="link('/goods/shoppingcar.html')">购物车</li>
	<li ng-class=" footer_active=='profile' ? 'profile active' : 'profile'" ng-click="link('/user/mine.html')">会员中心</li>
	<div class="clear"></div>
</ul>

<!--<div class="cart-count">
	
</div>-->