<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>途伴旅行家-管理收获地址</title>
		<link href="../../../static/mall_wap_front/default/img/favicon.ico" mce_href="/../../static/mall_wap_front/default/img/favicon.ico" rel="bookmark" type="image/x-icon" />
		<link href="../../../static/mall_wap_front/default/img/favicon.ico" mce_href="/../../static/mall_wap_front/default/img/favicon.ico" rel="icon" type="image/x-icon" />
		<link href="../../../static/mall_wap_front/default/img/favicon.ico" mce_href="/../../static/mall_wap_front/default/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="../../../static/mall_wap_front/default/css/common.css" />
		<link rel="stylesheet" type="text/css" href="../../../static/mall_wap_front/default/css/gorder_pay.css" />
		<link rel="stylesheet" type="text/css" href="../../../static/mall_wap_front/default/css/mine_addr.css"/>
		<script src="../../../static/mall_wap_front/default/js/lib.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../static/mall_wap_front/default/js/common.js" type="text/javascript" charset="utf-8"></script>

	</head>

	<body ng-app="mine_addr" ng-controller="mine_addr_controller" ng-cloak>
		<div ng-include="HOST+'/html/alert.html'" id="alert-container" ng-show="alert.on"></div>
		<div class="addr-add" ng-show="addr_addresses_show">
			<div>
				<div class="addr-add-one" ng-repeat="x in addr_user_addresses">
					<div class="addr-default-div">
						<button ng-class=" x.is_default== 1? 'addr-default-button active' : 'addr-default-button' ">			
						</button>	
					</div>
					<div class="add-info" ng-click="set_default_addr(x._id)">
						<p>{{x.address.p.n+x.address.c.n+x.address.d.n+x.detail}}</p>
						<p>{{x.receiver}}&nbsp;&nbsp;{{x.mobile}}</p>
					</div>
					<div class="delete-addr" ng-click="delete_addr(x._id)">
						
					</div>
					<div class="addr-add-button-div">
						<button class="addr-update-button" ng-click="addr_init_update(x)">
   				        </button>
					</div>
				</div>
				<div class="add-new"  ng-click="addr_init_create()">
					新增收货地址
					<button id="add-btn">				
					</button>
				</div>
			</div>
		</div>

		<div class="choose-address" ng-show="addr_address_show">
			<div>
				<div class="shouhuo-name">
					<span>收货人</span><input type="text" placeholder="姓名" ng-model="addr_addr.receiver" />
				</div>
				<div class="contact-method">
					联系方式<input type="text" placeholder="手机或电话号码" ng-model="addr_addr.mobile" />
				</div>
				<div class="province">
					<div>
						<span>省</span>
						<select class="province-province" ng-model="addr_p_code" ng-options="option.code as option.name for option in addr_provinces" ng-change="addr_selected(1)">
							<option value="">-请选择-</option>
						</select>
					</div>
					<div id="city">
						<span>市</span>
						<select class="province-city" ng-model="addr_c_code" ng-options="option.code as option.name for option in addr_cities" ng-change="addr_selected(2)">
							<option value="">-请选择-</option>
						</select>
					</div>
					<div>
						<span class="qu-xian">区/县</span>
						<select class="province-county" ng-model="addr_d_code" ng-options="option.code as option.name for option in addr_districts">
							<option value="">-请选择-</option>
						</select>
					</div>
				</div>
				<div class="detail-address">
					详细地址<input type="text" placeholder="街道地址" ng-model="addr_addr.detail" />
				</div>
				<div class="set-default-address" ng-click="addr_set_default()">
					<div ng-class="addr_addr.is_default==1 ? 'set-default-address-icon' : 'set-default-address-icon no-active' ">

					</div>
					<div>
						设为默认地址 <span>(每次购买时会默认使用该地址)</span>
					</div>
				</div>
			</div>
			<div class="confirm-button">
				<button class="ajax_btn" ng-click="addr_confirm_handle()">确认</button>
				<button ng-click="addr_cancel_address()" class="cancle">取消</button>
			</div>
		</div>

	</body>
	<script src="../../../static/mall_wap_front/default/conf/const.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../../static/mall_wap_front/default/js/mine_addr.js" type="text/javascript" charset="utf-8"></script>

</html>